<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Gaegu', cursive;
        
      }
    </style>
  </head>
  <body>
    <div><h1>당신이 입력한 텍스트는 총{{total}}개의 단어로 구성되어 있습니다.</h1>

        <a href="{% url 'home' %}">다시하기</a>
        <h1>입력한 텍스트: </h1>
        {{fulltext}}
        
        <h1>단어 카운트: </h1>
        {% for word,count in dictionary %}
            {{word}} - {{count}}
            <br>
        {% endfor %}</div>
  </body>
</html>

